[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-session = "*"
flask-migrate = "*"
psycopg2 = "*"

[dev-packages]
black = "*"
names = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
