{% extends 'base.html' %}

{% block conteudo %}
<h1>{% block title %} Lista de contatos {% endblock %}</h1>


<table class="table table-striped">
    <thead>
    <tr> <th>Nome</th> <th>Telefone</th> <th>Data de Nascimento</th> </tr>
    </thead>

    <tbody>
    {% for contato in contatos %}
        <tr>
            <td>{{contato.nome}}</td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.data_nascimento.strftime("%d/%m/%Y")}}</td>
            <td><a href="{{url_for('remover_contato_action')}}?id={{contato.id}}"><span class="glyphicon glyphicon-trash"></a></td>
            <td><a href="{{url_for('alterar_contato_form')}}?id={{contato.id}}">Alterar</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

 <!-- PÁGINAÇÃO -->
 <ul class="pagination">
    {% for i in range(1, total_paginas+1) %}
        <li 
            {% if pagina == i  %} class="active" {% endif %}
            ><a href="{{url_for('contatos')}}?page={{i}}">{{i}}</a></li>
    {% endfor %}
</ul>

<p><a href="{{ url_for('adicionar_contato_form') }}">Adicionar Contato</a></p>

{% endblock %}