{% extends 'base.html' %}

{% block conteudo %}
<h1>{% block title %} Lista de contatos {% endblock %}</h1>

<table class="table table-striped">
    <thead>
    <tr> <th>Nome</th> <th>Telefone</th> <th>Data de Nascimento</th> </tr>
    </thead>

    <tbody>
    {% for contato in contatos %}
        <tr>
            <td>{{contato.nome}}</td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.data_nascimento}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}